<!-- <p>home works!</p> -->

<header class="l-header">
    <nav class="nav bd-grid">
        <div>
            <a href="#" class="nav__logo">Dargie Dev</a>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class="bx bx-menu"></i>
        </div>

        <div class="nav__menu" id="nav-menu">
            <div class="nav__close" id="nav-close">
                <i class="bx bx-x"></i>
            </div>

            <ul class="nav__list">
                <!-- <li class="nav__item"><a href="#" class="nav__link">Home</a></li> -->
                <li class="nav__item"><a href="#" class="nav__link">ABOUT</a></li>
                <li class="nav__item"><a href="#" class="nav__link">DEV</a></li>
                <li class="nav__item"><a href="#" class="nav__link">BLOG</a></li>
                <li class="nav__item"><a href="#" class="nav__link">CONTACT</a></li>
            </ul>

        </div>

    </nav>
</header>


<main class="l-main">

    <section class="home">
        <div class="home__container bd-grid">
            <div class="home__img">

            </div>

            <div class="home__data">
                <h1 class="home__title">Mark Dargie /</h1>
                <h2 class="home-sub-title">Web Development</h2>
                <h2 class="home-sub-title">Video Game Design</h2>
                <!-- <p class="home_info">Web Developer. Game Developer. Virtual Reality.</p> -->
            </div>

        </div>
    </section>


    <section class="about">

        <div class="about-container">

        </div>

    </section>


</main>