<!-- <p>home works!</p> -->

<header class="l-header">
    <nav class="nav bd-grid">
        <div [ngsReveal]="{reset: false, origin: 'left', distance: '20px', duration: 1000, delay: 100}">
            <a href="#" class="nav__logo">dargiedev //</a>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class="bx bx-menu"></i>
        </div>

        <div class="nav__menu" id="nav-menu">
            <div class="nav__close" id="nav-close">
                <i class="bx bx-x"></i>
            </div>

            <ul class="nav__list">
                <!-- <li class="nav__item"><a href="#" class="nav__link">Home</a></li> -->
                <li class="nav__item"
                    [ngsReveal]="{reset: false, origin: 'top', distance: '10px', duration: 1500, delay: 200}"><a
                        href="#" class="nav__link">about</a></li>
                <li class="nav__item"
                    [ngsReveal]="{reset: false, origin: 'top', distance: '10px', duration: 1500, delay: 300}"><a
                        href="#" class="nav__link">work</a></li>
                <li class="nav__item"
                    [ngsReveal]="{reset: false, origin: 'top', distance: '10px', duration: 1500, delay: 400}"><a
                        href="#" class="nav__link">blog</a></li>
                <li class="nav__item"
                    [ngsReveal]="{reset: false, origin: 'top', distance: '10px', duration: 1500, delay: 500}"><a
                        href="#" class="nav__link">contact</a></li>
            </ul>

        </div>

    </nav>
</header>


<main class="l-main" #main>

    <section class="home">

        <!-- <div class="home-overlay">

        </div> -->

        <div class="home__container bd-grid">
            <div class="home__img">

            </div>

            <div class="home__data">
                <h1 class="home__title"
                    [ngsReveal]="{reset: false, origin: 'left', distance: '30px', duration: 1700, delay: 1000}">Mark
                    Dargie /</h1>
                <h2 class="home-sub-title"
                    [ngsReveal]="{reset: false,  origin: 'left', distance: '30px', duration: 1700, delay: 1200}">Web
                    Development.</h2>
                <h2 class="home-sub-title"
                    [ngsReveal]="{reset: false, origin: 'left', distance: '30px', duration: 1700, delay: 1400}">Video
                    Game Design.</h2>
                <!-- <p class="home_info">Web Developer. Game Developer. Virtual Reality.</p> -->
            </div>


            <div class="home-small"
                [ngsReveal]="{reset: false, origin: 'bottom', distance: '30px', duration: 1500, delay: 1000}">
                <p class="home-small-text">// scroll</p>
            </div>

        </div>
    </section>


    <section class="about section-p">

        <div class="about-container">

            <div class="container">

                <div class="row">

                    <div class="col-sm">

                        <div class="heading-container" [@DevFadeInLeft]="triggerAboutText ? 'in' : 'out'">
                            <p class="title-text">/ DEVELOPMENT</p>
                            <h3 class="title-sub-text">Experiance with modern web <br> application architectures <br>
                                and video game technologies.</h3>
                        </div>

                    </div>

                </div>

                <!-- <div class="row">

                        <div class="game-image-container">
                            <img src="../../assets/img/gameimg.png" class="game-image" [ngsReveal]="{reset: false, origin: 'left', distance: '100px', duration: 1200, delay: 800}">
                            <div class="game-text-container">
                                <p class="title-text">// JUSTWANNADANCE</p>
                                <h3 class="game-sub-text">Retro style shooter developed with Unity. Fight off hordes of zombies in this playstation era inspired grunge FPS. <br>
                                </h3>
                            </div>
                        </div>
                        
                </div> -->

            </div>

        </div>

    </section>

    <section class="carousel">
        <div class="container-fluid">

            <div class="carousel-container">
                <owl-carousel-o [options]="customOptions"
                    [ngsReveal]="{reset: false, origin: 'right', distance: '200px', duration: 1200, delay: 500}">

                    <ng-template class="item first" carouselSlide>
                        <div class="carousel-inner first-item">
                            <img src="../../assets/img/gameimg.png" class="carousel-image">
                            <div class="">
                                <p class="title-text">// JUSTWANNADANCE</p>
                                <h3 class="game-sub-text">Retro style shooter developed with Unity. Fight off hordes of
                                    zombies in this playstation era inspired grunge FPS. <br>
                                </h3>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template class="item" carouselSlide>
                        <div class="carousel-inner">
                            <img src="../../assets/img/gameimg.png" class="carousel-image">
                            <div class="">
                                <p class="title-text">// JUSTWANNADANCE</p>
                                <h3 class="game-sub-text">Retro style shooter developed with Unity. Fight off hordes of
                                    zombies in this playstation era inspired grunge FPS. <br>
                                </h3>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template class="item" carouselSlide>
                        <div class="carousel-inner">
                            <img src="../../assets/img/gameimg.png" class="carousel-image">
                            <div class="">
                                <p class="title-text">// JUSTWANNADANCE</p>
                                <h3 class="game-sub-text">Retro style shooter developed with Unity. Fight off hordes of
                                    zombies in this playstation era inspired grunge FPS. <br>
                                </h3>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template class="item" carouselSlide>
                        <div class="carousel-inner">
                            <!-- <img src="../../assets/img/gameimg.png" class="carousel-image" >
                            <div class="">
                                <p class="title-text">// JUSTWANNADANCE</p>
                                <h3 class="game-sub-text">Retro style shooter developed with Unity. Fight off hordes of zombies in this playstation era inspired grunge FPS. <br>
                                </h3>
                            </div> -->
                        </div>
                    </ng-template>
                    <!-- <ng-container *ngFor="let slide of apiData">
                      <ng-template class="slide" carouselSlide [id]="slide.id">
                        <img [src]="slide.url" [alt]="slide.id" [title]="slide.id">
                      </ng-template>
                    </ng-container> -->

                </owl-carousel-o>
            </div>
        </div>

    </section>

    <section class="image-section">
        <div class="image-section-container">

            <div class="container-fluid">
                <div class="row">
                    <div class="image-content-container">
                        <div class="image-content-left" [@fadeInLeft]="fadeInLeft ? 'in' : 'in'">
                            <h3 class="title-sub-text image-text">Experiance with modern web <br> application
                                architectures <br> and video game technologies.</h3>
                            <div class="link-image-container">
                                <a href="">
                                    <h4 class="download-text image-text">Download On Steam</h4>
                                </a>
                                <img src="../../../assets/img/steamicon.png" class="steam-icon">
                            </div>
                        </div>
                        <div class="image-content-right" [@flyInOut]="isOpen ? 'in' : 'in'">

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <section class="about-second section-p white">
        <div class="about-container-second">

            <div class="inner-about-second">
                <div class="social-links">

                    <a href=""><img src="../../../assets/img/icons/github-logo.png" class="social-icon"
                            [@iconBtmOne]="triggerIcons ? 'in' : 'out'"></a>
                    <a href=""><img src="../../../assets/img/icons/twitch.png" class="social-icon"
                            [@iconBtmTwo]="triggerIcons ? 'in' : 'out'"></a>
                    <a href=""><img src="../../../assets/img/icons/instagram.png" class="social-icon"
                            [@iconBtmThree]="triggerIcons ? 'in' : 'out'"></a>
                    <a href=""><img src="../../../assets/img/icons/twitter.png" class="social-icon"
                            [@iconBtmFour]="triggerIcons ? 'in' : 'out'"></a>
                    <a href=""><img src="../../../assets/img/icons/youtube.png" class="social-icon"
                            [@iconBtmFive]="triggerIcons ? 'in' : 'out'"></a>
                </div>
            </div>

        </div>
    </section>


    <section class="footer-section">
        <footer class="footer">

            <div class="footer-overlay-top">
                <div id="box"></div>
            </div>
        </footer>

    </section>


</main>